*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
header{
    background-image: url(images/bg.jpeg);
    height: 89.5vh;
    background-size:cover;
    background-position: center;
}   
header .navbar ul{
    float: right;
    margin-top: 35px;
}
header .navbar ul li{
    display: inline-block;
}
header .navbar ul li a{
    text-decoration: none;
    color: cyan;
    padding: 5px 20px;
    border: 2px solid cyan;
    border-radius: 10px;
    transition: 1s;
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
    
}
header .navbar ul li a:hover{
    background-color: rgb(238, 26, 26);
    color: white;
}
ul li.active a{
    background-color: rgb(238, 26, 26);
    color: aqua
}
.logo img{
    border: 1px solid;
    float: left;
    width: 190px;
}
.navbar{
    max-width: 1200px;
    margin: auto;
}
.contents {
    color: rgb(241, 240, 240);
    position: absolute;
    top: 40%;
    left: 15%;
    right: 15%;
}
.contents h1{
    font-size: 50px;
    text-shadow: -4px 4px 4px red;
}
.contents1 {
    color: rgb(241, 240, 240);
    position: absolute;
    top: 25%;
    left: 20%;
}
.contents2 {
    color: rgb(241, 240, 240);
    position: absolute;
    top: 25%;
    left: 20%;
}
.contents3 {
    color: rgb(241, 240, 240);
    position: absolute;
    top: 25%;
    left: 20%;
}
.contents1 h1{
    font-size: 50px;
    text-shadow: -4px 4px 4px red;
}
.selection p{
    position: absolute;
    top: 20%;
    left: 23%;
    text-align: justify;
    margin-right: 50px;
    color: aquamarine;
    font-size: 20px;
    text-shadow: -4px 4px 4px red;
}
.photo img{
    border: 3px solid aquamarine;
    border-radius: 10px;
    width: 160px;
    height: 220px;
    position: absolute;
    top: 230px;
    left: 271px;
}
.contents2 h1{
    color: white;
    font-size: 50px;
    text-shadow: -4px 4px 4px red;
}
.hobi1{
    position: absolute;
    top: 20px;
    left: 15px;
}
.hobi1 p{
    position: absolute;
    top: 95%;
    left: 30%;
    color: greenyellow;
    font-size: 20px;
    text-shadow: -4px 4px 4px red;
}
.hobi2{
    position: absolute;
    top: 50px;
    left: 380px;
}
.hobi2 p{
    position: absolute;
    top: 95%;
    left: 17%;
    color: greenyellow;
    font-size: 20px;
    text-shadow: -4px 4px 4px red;
}
.hobi3{
    position: absolute;
    top: 20px;
    left: 630px;
}
.hobi3 p{
    position: absolute;
    top: 86%;
    left: 17%;
    color: greenyellow;
    font-size: 20px;
    text-shadow: -4px 4px 4px red;
}
.contents3 h1{
    color: white;
    font-size: 50px;
    text-shadow: -4px 4px 4px red;
}
.color{
    color: greenyellow;
}
.color1{
    color: aquamarine;
}
.color2{
    color: greenyellow;
}
.color3{
    color: aquamarine;
}
.medsos{
        padding: 1px 0;
    align-items: 15px;
}
.medsos ul li{
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
}
.icon{
    text-align: end;
    padding: 10px;
    display: inline-block;
}   
footer {
    background-color: rgb(0, 0, 0);
    size: 20px;
}